@import url(Fonts.css);
body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.body-light{ background-color: #F5F5F4; }
.body-dark{ background-color:#34495E; }
ul{ list-style: none; }
a{ text-decoration: none; }
*:focus{ outline: none;}
.chat-panel{
    position: absolute;
    bottom: 0px;
    max-width: 1400px;
    height: 90%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
}
.chat-panel-dark{ background: #94A3B8; }
.chat-panel-light{ background: #E4E4E7; }
.chat-panel .header-bar{
    max-width: 1440px;
    height: 50px;
    margin: -20px;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    padding: 10px 20px;
}
.chat-panel .header-bar-light{ background-color: #0284C7;}
.chat-panel .header-bar-dark{ background-color: #F44336; color: #fff;}
.chat-panel .header-bar img.back-button{
    width: 40px;
    line-height: 60px;
    transform: translateY(10%);
    float: left;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.chat-panel .header-bar img.back-button:hover{ margin-left: -10px; margin-right: 10px; }
.chat-panel .header-bar img.user-pfp{
    width: 40px;
    height: 40px;
    line-height: 60px;
    transform: translateY(10%);
    float: left;
    border-radius: 20px;
    margin-left: 25px;
    border: 0px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}
.chat-panel .header-bar img.user-pfp-light:hover{
    margin-top: -3px;
    margin-left: 35px;
    border: 3px solid #343434;
}
.chat-panel .header-bar img.user-pfp-dark:hover{
    margin-top: -3px;
    margin-left: 35px;
    border: 3px solid #888;
}
.chat-panel .header-bar span.user-displayedname{
    float: left;
    margin: 0px 10px;
    font-family: alice;
    font-size: 22px;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    max-width: 450px;
    line-height: 50px;
    cursor: pointer;
}
.chat-panel .header-bar img.user-details{
    width: 40px;
    height: 40px;
    line-height: 60px;
    transform: translateY(10%);
    float: right;
    border-radius: 20px;
    margin-left: 25px;
    border: 0px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.chat-panel .header-bar img.user-details:active{
    transform: rotate(90deg);
}
.chat-panel .header-bar div.user-menu{ 
    float: right;
    width: fit-content;
    transition: all 0.3s ease-in-out;
}
.chat-panel .header-bar div.user-menu ul{
    float: right;
    position: absolute;
    top: 70px;
    margin: 0px;
    padding: 0px;
    background: #EEEEEE;
    color: #343434;
    padding: 10px 20px;
    right: 0px;
    border-bottom-left-radius: 36px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
.chat-panel .header-bar div.user-menu ul li{
    width: 100%;
    margin: 10px 0px;
    text-align: center;
    font-size: 23px;
    font-family: roboto;
    cursor: pointer;
}
.chat-panel .header-bar div.user-menu ul hr{
    color: #34343456;
}
.chat-panel .header-bar img.user-pfp-badge{
    width: 20px;
    height: 20px;
    line-height: 60px;
    float: left;
    margin: 15px 0px;
    display: inline-block;
    background: #fff;
    border-radius: 11px;
    padding: 2px;
}
.chat-panel .user-profile-details{
    height: 100%;
    min-width: 450px;
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: all 0.5s ease-in-out;
    border-top-right-radius: 36px;
    display: none;
}
.chat-panel .user-profile-details-dark{background: #64748B; color: #fff;}
.chat-panel .user-profile-details-light{background: #D4D4D4; color: #232323;}
.chat-panel .user-profile-details .user-details-header-bar{
    height: 50px;
    border-top-right-radius: 35px;
}
.chat-panel .user-profile-details .user-details-header-bar-dark{ background-color: #BE123C;}
.chat-panel .user-profile-details .user-details-header-bar-light{ background-color: #BE123C; color: #fff;}
.chat-panel .user-profile-details .user-details-header-bar img.hide-button{
    width: 40px;
    line-height: 60px;
    float: left;
    transform: rotate3d(0,1,0,180deg);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 5px;
}
.chat-panel .user-profile-details .user-details-header-bar img.hide-button:hover{  margin-left: 10px;  }
.chat-panel .user-profile-details .user-details-header-bar span.panel-title{
    float: left;
    margin: 0px 10px;
    font-family: coolveticarg;
    font-size: 22px;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    line-height: 50px;
    cursor: pointer;
}
.chat-panel .user-profile-details img.full-user-pfp{
    max-width: 420px;
    max-height: 420px;
    border-radius: 210px;
    margin-top: 25px;
    border: 0px;
    transition: all 0.1s ease-in-out;
}
.chat-panel .user-profile-details center:first-child{
    overflow: scroll;
}
.chat-panel .user-profile-details div.names{
    max-width: 400px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: 60px;
    margin:10px 0px 60px 0px;
}
.chat-panel .user-profile-details div span.user-displayedname{
    float: left;
    margin: 0px 10px;
    font-family: alice;
    font-size: 26px;
    display: flex;
    margin-top: 8px;
    height: 27px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    max-width: 380px;
}
.chat-panel .user-profile-details div span.user-username
{ 
    float: left;
    margin-left: 14px;
    font-family: typewcond;
    font-size: 22px;
    margin-top: -8px;
    height: 27px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    max-width: 380px;
}
.chat-panel .user-profile-details div span.user-username-light{ color: #565656; }
.chat-panel .user-profile-details div span.user-username-dark{ color: #dedede; }
.chat-panel .user-profile-details span.user-titles{
    display: flex;
    float: left;
    font-family: Boogaloo;
    font-size: 28px;
    margin: 0px 20px;
}
.chat-panel .user-profile-details span.user-date{
    display: flex;
    float: left;
    font-family: typewcond;
    margin: 0px 20px;
}
.chat-panel .user-profile-details span.user-biography{
    float: left;
    font-family: typewcond;
    margin: 10px 40px;
    width: 80%;
    text-align: left;
    font-size: 23px;
}
.chat-panel .message-section{
    max-width: 1400px;
    height: 96.3%;
    margin-top: 20px;
}
.chat-panel .message-section div.message-body{
    max-width: 1400px;
    height: 77%;
    padding: 30px;
    display: grid;
    overflow: scroll;
}
.chat-panel .message-section div.message-box{
    max-width: 1400px;
    height: 15%;
    display: flex;
    gap: 10px;
}
.chat-panel .message-section div.message-box textarea{
    width: 1200px;
    height: 80%;
    border: 4px solid #000;
    border-radius: 35px;
    padding: 8px 20px;
    resize: none;
    font-size: 26px;
    font-family: alice, dirooz, dirooz-number;
    flex: 1;
    font-weight: lighter;
    letter-spacing: 1px;
}
.chat-panel .message-section div.message-box textarea:hover{
    border: 4px solid #F59E0B !important;
}
.chat-panel .message-section div.message-box textarea:focus{
    border: 4px solid #DC2626 !important;
}
.chat-panel .message-section div.message-box button.message-submit{
    width: 60px;
    height: 70px;
    transform: translateY(40%);
    border: 4px solid #000;
    border-radius: 25px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.chat-panel .message-section div.message-box button.message-submit img{
    transition: all 0.4s ease-in-out;
}
.chat-panel .message-section div.message-box button.message-submit-dark{
    background: #FF5722;
    color: #fff;
}
.chat-panel .message-section div.message-box button.message-submit-light{
    background-color: #009688;
    color: #fff;
}
.chat-panel .message-section div.message-box button.message-submit-dark:hover{
    border: 4px solid #C62828 !important;
}
.chat-panel .message-section div.message-box button.message-submit-light:hover{
    border: 4px solid #0288D1 !important;
}
.chat-panel .message-section div.message-box button.message-submit:hover img{
    width: 45px;
    height: 45px;
}
.chat-panel .message-section div.message-body .message{ width: 100%; margin-top: 30px;}
.chat-panel .message-section div.message-body .message-spliter{
    width: 100%;
    color: #fff;
    border-radius: 5px;
    font-family: coolveticarg;
    padding: 4px 0px;
    word-spacing: 1px;
}
.chat-panel .message-section div.message-body .message-spliter-dark{ background: #EF9A9A; }
.chat-panel .message-section div.message-body .message-spliter-light{ background: #9aa9ef; }
.chat-panel .message-section div.message-body .message-spliter table{ width: 100%; border-spacing: 0px; border-collapse: collapse; }
.chat-panel .message-section div.message-body .message-spliter table th:first-child{ 
    text-align: left; 
    font-family: Oswald; 
    border-left: 3px solid black;
    word-spacing: 0px;
}
.chat-panel .message-section div.message-body .message-spliter table th:last-child{
    text-align: right; 
    font-family: Oswald; 
    border-right: 3px solid black;
    letter-spacing: 1.5px;
}
.chat-panel .message-section div.message-body .message-spliter table th span{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    width: fit-content;
    padding: 8px 19px 8px 19px;
}
.chat-panel .message-section div.message-body .message-spliter table th:first-child span{
    clip-path: polygon(63% 0, 100% 50%, 63% 100%, 0% 100%, 0 46%, 0% 0%);
    width: fit-content;
    padding: 8px 19px 8px 8px;
}
.chat-panel .message-section div.message-body .message-spliter table th:last-child span{
    clip-path: polygon(100% 0%, 100% 49%, 100% 100%, 37% 100%, 0% 50%, 37% 0);
    width: fit-content;
    padding: 8px 8px 8px 19px;
}
.chat-panel .message-section div.message-body .message-spliter-dark table th span{background-color: #790606;}
.chat-panel .message-section div.message-body .message-spliter-light table th span{background-color: #063879;}
.chat-panel .message-section div.message-body .message div{
    min-width: 140px;
    max-width: 450px;
    padding: 30px;
    background: #dedede;
    border-radius: 40px;
}
.chat-panel .message-section div.message-body .message.sender div{
    float: right;
    border-bottom-right-radius: 0px !important;
}
.chat-panel .message-section div.message-body .message.reciever div{
    float: left;
    border-bottom-left-radius: 0px !important;
}
.chat-panel .message-section div.message-body .message div p{
    word-wrap: anywhere;
    margin: 0px;
    font-family: Trebuchet;
    font-size: 24px;
}
.chat-panel .message-section div.message-body .message div div.message-details{
    padding: 0px;
    bottom: -20px;
    position: relative;
    color: #555;
    width: 100%;
}
.chat-panel .message-section div.message-body .message div span.message-status{ 
    float: left; 
    font-family: Pacifico;
    font-size: 18px;
}
.chat-panel .message-section div.message-body .message div span.message-time{ 
    float: right; 
    font-family: Oswald;
    font-size: 22px;
}
.chat-panel .message-section div.message-body img.prof-pic{
    width: 50px;
    height: 50px;
    line-height: 60px;
    transform: translateY(10%);
    border-radius: 25px;
    border: 0px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    margin-top: 40px;
    padding: 5px;
}
.chat-panel .message-section div.message-body span.normal img.prof-pic{
    background: #343434;
    padding: 5px;
    border-radius: 30px;
}
.chat-panel .message-section div.message-body span.king img.prof-pic{
    background: #FFB300;
    padding: 5px;
    border-radius: 30px;
}
.chat-panel .message-section div.message-body span.queen img.prof-pic{
    background: radial-gradient(circle at 100% 100%, #ffffff00 0, #ffffff00 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff00 0, #ffffff00 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff00 0, #ffffff00 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #ffffff00 0, #ffffff00 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#ffffff00, #ffffff00) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
            linear-gradient(#ffffff00, #ffffff00) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
            linear-gradient(transparent 0%, #ffb300 0%, #e53935 100%);
    padding: 5px;
    border-radius: 30px;
}
.chat-panel .message-section div.message-body .message.sender img.prof-pic{ float: right; margin-left: 25px; }
.chat-panel .message-section div.message-body .message.reciever img.prof-pic{ float: left; margin-right: 25px; }