@font-face {
    font-family: Rubik;
    src: url(../fonts/RubikMarkerHatch-Regular.ttf);
}
@font-face {
    font-family: Boogaloo;
    src: url(../fonts/Boogaloo-Regular.ttf);
}
@font-face {
    font-family: coolveticarg;
    src: url(../fonts/coolveticarg.otf);
}
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.body-light{ background-color: #F5F5F4; }
.body-dark{ background-color:#34495E; }
ul{ list-style: none; }
a{ text-decoration: none; }
*:focus{ outline: none;}
.navbar{
    position: sticky;
    float: center;
    max-width: 200px;
    padding: 15px;
    z-index: 2;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.navbar-dark{ background-color: #2980B9;}
.navbar-light{ background-color: #BDC3C7;}
.navbar-logo{ display: inline-block; width: 100%;}
.navbar ul{
    display: inline-block;
    width: 50%;
    height: 100%;
}
.navbar ul li{
    display: inline-block;
    width: fit-content;
}
.login-panel{
    position: absolute;
    bottom: 0px;
    max-width: 400px;
    height: 70%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
}
.login-panel span.header{ 
    font-family: Rubik; 
    font-size: 50px;
}
.login-panel form{margin-top: 30px;}
.login-panel form span.titles{ 
    display: flex;
    font-family: Boogaloo; 
    font-size: 30px; 
    justify-content: left;
    margin-left: 20px;
}
.login-panel form input[type=text],
.login-panel form input[type=password]{
    display: flex;
    margin-top: -10px;
    // float: left;
    margin-left: 60px;
    border-radius: 50px;
    border: 5px solid #34495E;
    font-size: 25px;
    width: 65%;
    padding: 5px 20px;
    transition: all 0.5s ease-in-out;
}
.login-panel form .dark-input{background-color: #475569; color: aliceblue;}
.login-panel form input[type=button].submit{
    border-radius: 50px;
    margin-top: 20px;
    font-size: 19px;
    width: 80%;
    padding: 0px 20px;
    background-color: #DC2626;
    border: 2px solid #B71C1C;
    color: aliceblue;
    transition: all 0.25s ease-in-out;
    font-family: coolveticarg;
    padding: 5px;
    cursor: pointer;
}
.login-panel .google-login{
    border-radius: 50px;
    margin-top: 20px;
    font-size: 19px;
    width: 80%;
    padding: 0px 20px;
    background-color: rgb(247, 247, 247);
    border: 2px solid #383a3b;
    color: black;
    transition: all 0.25s ease-in-out;
    font-family: coolveticarg;
    padding: 5px;
    cursor: pointer;
    display: flex;
}
.login-panel .google-login img{
    float: left;
}
.login-panel .google-login span{
    float: right;
    justify-content: right;
    width: 100%;
    padding: 0px 20px;
    vertical-align: middle;
    line-height: 40px;
}
.login-panel .google-login:hover{
    font-size: 21px;
}
.login-panel form input[type=button].submit:hover{
    font-size: 25px;
}
.login-panel form input[type=text]:hover,
.login-panel form input[type=password]:hover{
    border: 5px solid #F59E0B !important;
}
.login-panel form input[type=text]:focus,
.login-panel form input[type=password]:focus{
    border: 5px solid #DC2626 !important;
    font-size: 25px;
    margin-left: 0px;
    width: 80%;
}
.login-panel-dark{ background: #94A3B8; }
.login-panel-light{ background: #E4E4E7; }
.login-panel form div.error{
    background-color: #F44336;
    border: 2px solid #B71C1C;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    display: none;
}
.login-panel form div.error p{
    color: #FFEBEE;
    font-family: roboto;
    font-size: 20px;
}
.login-panel .register-button{
    border-radius: 50px;
    font-size: 19px;
    width: 80%;
    padding: 0px 20px;
    background-color: #3949AB;
    border: 2px solid #283593;
    color: aliceblue;
    transition: all 0.25s ease-in-out;
    font-family: coolveticarg;
    padding: 5px;
    cursor: pointer;
    display: block;
}
.login-panel .register-button:hover{
    background-color: aliceblue;
    border: 2px solid rgb(238, 238, 238);
    color: #283593;
}
.login-panel form .eye-icon{
    display: flex;
    padding: 4px;
    border-radius: 50px;
    margin-left: 310px;
    margin-top: -42.8px;
    background-color: #fff;
    border: 3px solid #fff;
    cursor: pointer;
}
.login-panel form .eye-icon#closed:hover{
    border: 3px solid rgb(48, 184, 143);
}
.login-panel form .eye-icon#opened:hover{
    border: 3px solid rgb(184, 48, 59);
}
.login-panel .login-loading{
    transform: none;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}